{% extends "base.html" %}

{% block content %}
<div class="container mt-5">
    <h1 class="text-center mb-4">Restaurant Gallery</h1>
    <div class="row">
        <div class="col-md-4 mb-4">
            <div class="card shadow-sm">
                <img src="{{ url_for('static', filename='images/img1.jpeg') }}" class="card-img-top" alt="Image 1">
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="card shadow-sm">
                <img src="{{ url_for('static', filename='images/img2.jpeg') }}" class="card-img-top" alt="Image 2">
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="card shadow-sm">
                <img src="{{ url_for('static', filename='images/img3.jpeg') }}" class="card-img-top" alt="Image 3">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 mb-4">
            <div class="card shadow-sm">
                <img src="{{ url_for('static', filename='images/img4.jpeg') }}" class="card-img-top" alt="Image 4">
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="card shadow-sm">
                <img src="{{ url_for('static', filename='images/img5.jpg') }}" class="card-img-top" alt="Image 5">
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="card shadow-sm">
                <img src="{{ url_for('static', filename='images/img6.jpg') }}" class="card-img-top" alt="Image 6">
            </div>
        </div>
    </div>
</div>
{% endblock %}
